@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Poppins:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #04080F;
  --header-font: 'Montserrat', sans-serif;
  --content-font: 'Poppins', sans-serif;
}

@layer components {
  .gradient {
    background: linear-gradient(90deg,
        #d04900 -49.44%,
        #002642 99.81%,
        #002642 99.81%);
  }

  .gradient-secondary {
    background: linear-gradient(90deg,
        #d04900 6.35%,
        #f3b391 18.43%,
        #0082e1 42.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


html {
  font-size: 22px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}