.column {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.column img {
  position: relative;
  flex: 1 0 12rem;
  margin: 1rem;
  margin-top: 8px;
  vertical-align: middle;
  width: 6rem;
  aspect-ratio: 1/1;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .column {
    flex: 40%;
    flex-wrap: wrap;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 50%;
    max-width: 100%;
  }
}