.info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: var(--content-font);
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.info div {
  padding: 0rem 2rem;
}

.info h3 {
  background: linear-gradient(90deg, #DC5D18 -7.03%, #D09600 116.02%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

.info p {
  padding: 0 3rem;
}

.info div:nth-child(2) {
  border: 2px solid;
  border-image: linear-gradient(rgb(83, 83, 83), rgb(182, 182, 182)) 0 1;
}

.vid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 6rem;
}

.video {
  width: 90%;
  height: 400px;
  background-color: #D09600;
  border-radius: 20px;
}

.vid h1 {
  width: 30%;
  text-wrap: wrap;
  font-family: var(--header-font);
  font-size: 3rem;
  text-align: center;
}

.vid span:nth-child(1) {
  background: linear-gradient(97deg, #FFF -17.44%, #3b4d5a 80.8%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vid span:nth-child(2) {
  background: linear-gradient(97deg, #F3B391 -17.44%, #D04900 84.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper {
  /* width: 85%; */
  padding: 2rem 4rem;
}