.info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: var(--content-font);
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.info div {
  padding: 0rem 2rem;
}

.info h3 {
  background: linear-gradient(90deg, #DC5D18 -7.03%, #D09600 116.02%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

.info p {
  padding: 0 3rem;
}

.info div:nth-child(2) {
  border: 2px solid;
  border-image: linear-gradient(rgb(83, 83, 83), rgb(182, 182, 182)) 0 1;
}

.vid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 6rem 6rem 2rem 6rem;
}

.video {
  width: 90%;
  height: 400px;
  background-color: #D09600;
  border-radius: 20px;
}

.vid h1 {
  width: 30%;
  text-wrap: wrap;
  font-family: var(--header-font);
  font-size: 3rem;
  text-align: center;
}

.vid span:nth-child(1) {
  background: linear-gradient(97deg, #FFF -17.44%, #3b4d5a 80.8%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vid span:nth-child(2) {
  background: linear-gradient(97deg, #F3B391 -17.44%, #D04900 84.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper {
  z-index: 1;
  /* width: 85%; */
  padding: 1rem 4rem;
  position: relative;
}

.overlay {
  position: relative;
  z-index: 100 !important;
  height: 124px;
  margin-top: -100px;
  background: linear-gradient(90deg, #04080F -20.03%, rgba(0, 0, 0, 0.00) 50%, #04080F 130.79%);
}



.comm {
  margin-top: 4rem;
  position: relative;
  height: 23rem;
  display: flex;
  align-items: center;
  background: url('../../assets/bg.png'), linear-gradient(180deg,
      #04080fda 10.03%,
      rgba(0, 0, 0, 0) 50%,
      #04080Fda 90.79%);
  background-position: right;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  animation: fade linear;
  animation-timeline: view();
  animation-range: entry 20% cover 70%;
}

@keyframes fade {
  from {
    background-position: 900px 0px;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.comm h1 {
  padding-left: 6rem;
  /* width: 40%; */
  color: #FFF;
  font-family: var(--header-font);
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 139.9%;
}