.container h1 {
  padding: 1rem 0rem 0rem 0rem;
  color: #FFF;
  font-family: var(--header-font);
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container {
  padding: 0 6rem;
}

.imggrid {
  width: fit-content;
}