.container h1 {
  padding: 1rem 6rem 0 6rem;
  color: #FFF;
  font-family: var(--header-font);
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gridbox {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 6rem;
}

.column {
  flex: 20%;
  max-width: 25%;
  padding: 5px 8px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .column {
    flex: 40%;
    flex-wrap: wrap;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 50%;
    max-width: 100%;
  }
}